[Unit]
Description=Directory Size Monitor
After=network.target

[Service]
Type=simple
User=YOUR_USER
Group=admin
WorkingDirectory=/home/USERNAMEin/layer-state-size-monitor
ExecStart=/usr/bin/python3 /home/USERNAME/layer-state-size-monitor/chain_size.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target